html, body {
    height: 100%;

}
body {
    padding-top:20px;

    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) ), url("public/images/booksimg.jpg") no-repeat center center fixed;
    background-size: cover;
}
.form-control {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bg-custom{
    background-color: #181b2c;
}
.poravnaj {
    text-align: center;
}
.footer {
    transition: background-color 1s linear;
    background-color: hsla(0, 0%, 0%, 0) !important;
    color: #f8f9fa;
    text-shadow: 1px 1px black;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 8px;;
}

.footer:hover {
    transition: background-color 1s linear;
    background-color: hsla(0, 0%, 0%, 0.6) !important;
}
.bg-custom {
    background-color: white;
}

.rounded-circle {
    border: 1px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.sub-h {

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}



* {box-sizing: border-box;}
ul {list-style-type: none;}


.player{
    margin: 50px 0;
}


