body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("../images/booksimg.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
}

/*body .modal-dialog { margin-left: 0 }*/

.form-nova {
    color: #f1f1f1;
}

.hiddenRow {
    display: none;
}

.btn {
    margin-bottom: 10px;
}

.projekti {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

thead {
    color: #f1f1f1;
}

.pagination {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline-block;
    color: #f1f1f1;
    margin: 0 5px;
    cursor: pointer;
}

.pagination li:hover,
.pagination li.selected {
    text-decoration: underline;
}


.pagination-arrow {
    margin: 0 5px;
    cursor: pointer;
}

.btn-circle {
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    border-color: black;
    text-decoration:none;
    font-weight: normal;
    color: black;
}

.modal {
    position: center;
    float: left;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.modal.settings {
    position: center;
    float: left;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.grey {
    background-color: grey; !important;
}

.green {
    background-color: mediumseagreen; !important;
}